@{
    ViewBag.Title = "delete";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 @using(Html.BeginForm("delete2", "admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
 {
<label >User Name : </label> <input type ="text" name ="username" required="required"/>
<br />
   
    <input type ="submit" value =" DELETE" class ="btn btn-danger" />
   }