@{
    ViewBag.Title = "about";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />

 <div class="row">
                  <div class="col-md-2">.</div>
                  <div class="col-md-2">
                      <img src="../about.jpg" class="img-responsive" alt="kkk.jpg"/>

                  </div>
                  <div class="col-md-8">.</div>

              </div>

              <div class="row">
                  <div class="col-md-2">.</div>
                  <div class="col-md-5">
                      <div class="jumbotron" style ="background-image:url('../cap.jpg');border-radius:0vw;margin-top:-0.5vw;margin-left:1vw" >
                    <h4 style="font-size:2vw;font-family:Calibri;color:orange">CHEETAH TOURS</h4>  <p style ="font-size:1vw;white-space:normal;color:white;font-family:Calibri">Greenland is the world's largest island. It is also the country with the lowest population density and one of the smallest capitals in the world. 

It is a rugged, mountainous, contrasting land with the enormous Greenland Ice Sheet at its center and an adventurous, welcoming people at its core. 

From the Arctic desert landscapes in the far north to Atlantic influences and lush sheep farms in the south, a distinct cultural and climatic diversity shapes our way of living across the geographical vastness of the island as much as it will inspire your travel experience.

We rely equally on hunting, fishing, wireless internet and each other to keep the country together and moving forward. We live under the northern lights in winter and the midnight sun in summer, in a place where dogsledding and skateboarding exist side by side, where fishermen and academics come from the same families, and were we communicate wirelessly one moment and navigate between huge icebergs the next.

This makes Greenland an exciting destination for all adventure minded travelers, and to learn more about the nature, climate, culture, and spirit of Greenland you can explore a range of stories from this page.</p>
                      </div>
                      </div>
                  <div class="col-md-4">
                      <img src="../file.jpeg" class="img-responsive" alt="kkk.jpg" style="margin-left:-3.5vw;margin-top:2.5vw" />
                  </div>
              <div class="col-md-1">.</div>
              </div>

