@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="../data0/images/desert.jpg" alt="Desert" title="Desert" id="wows0_0"/></li>
		<li><img src="../data0/images/koala.jpg" alt="Koala" title="Koala" id="wows0_1"/></li>
		<li><img src="../data0/images/lighthouse.jpg" alt="Lighthouse" title="Lighthouse" id="wows0_2"/></li>
		<li><img src="../data0/images/penguins.jpg" alt="Penguins" title="Penguins" id="wows0_3"/></li>
		<li><img src="../data0/images/a.jpg" alt="a" title="a" id="wows0_4"/></li>
		<li><img src="../data0/images/bbq.jpg" alt="bbq" title="bbq" id="wows0_5"/></li>
		<li><img src="../data0/images/file.jpg" alt="file" title="file" id="wows0_6"/></li>
		<li><img src="../data0/images/gir.jpg" alt="gir" title="gir" id="wows0_7"/></li>
		<li><img src="../data0/images/gramd.jpg" alt="gramd" title="gramd" id="wows0_8"/></li>
		<li><img src="../data0/images/hik.jpg" alt="hik" title="hik" id="wows0_9"/></li>
		<li><img src="../data0/images/jeep.jpg" alt="jeep" title="jeep" id="wows0_10"/></li>
		<li><img src="../data0/images/jeep3.jpg" alt="jeep3" title="jeep3" id="wows0_11"/></li>
		<li><a href="http://wowslider.com/vi"><img src="../data0/images/leo.jpg" alt="javascript slideshow" title="leo" id="wows0_12"/></a></li>
		<li><img src="../data0/images/tr.jpg" alt="tr" title="tr" id="wows0_13"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Desert"><span><img src="../data0/tooltips/desert.jpg" alt="Desert"/>1</span></a>
		<a href="#" title="Koala"><span><img src="../data0/tooltips/koala.jpg" alt="Koala"/>2</span></a>
		<a href="#" title="Lighthouse"><span><img src="../data0/tooltips/lighthouse.jpg" alt="Lighthouse"/>3</span></a>
		<a href="#" title="Penguins"><span><img src="../data0/tooltips/penguins.jpg" alt="Penguins"/>4</span></a>
		<a href="#" title="a"><span><img src="../data0/tooltips/a.jpg" alt="a"/>5</span></a>
		<a href="#" title="bbq"><span><img src="../data0/tooltips/bbq.jpg" alt="bbq"/>6</span></a>
		<a href="#" title="file"><span><img src="../data0/tooltips/file.jpg" alt="file"/>7</span></a>
		<a href="#" title="gir"><span><img src="../data0/tooltips/gir.jpg" alt="gir"/>8</span></a>
		<a href="#" title="gramd"><span><img src="../data0/tooltips/gramd.jpg" alt="gramd"/>9</span></a>
		<a href="#" title="hik"><span><img src="../data0/tooltips/hik.jpg" alt="hik"/>10</span></a>
		<a href="#" title="jeep"><span><img src="../data0/tooltips/jeep.jpg" alt="jeep"/>11</span></a>
		<a href="#" title="jeep3"><span><img src="../data0/tooltips/jeep3.jpg" alt="jeep3"/>12</span></a>
		<a href="#" title="leo"><span><img src="../data0/tooltips/leo.jpg" alt="leo"/>13</span></a>
		<a href="#" title="tr"><span><img src="../data0/tooltips/tr.jpg" alt="tr"/>14</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">html slider</a> by WOWSlider.com v8.2</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="../engine0/wowslider.js"></script>
	<script type="text/javascript" src="../engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section -->




            
        <link rel="stylesheet" href="../cssg/bootstrap.min.css">
        <link rel="stylesheet" href="../cssg/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="../cssg/main.css">
        <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
        <script src="../jsg/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
   
  
     

        <div class="container gallery">
            <h2 class="page-title"> Gallery</h2>


            <ul class="thumbnails">
                <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../e.jpg"><img class="group1" src="../e.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../f.jpg"><img class="group1" src="../f.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../g.jpg"><img class="group1" src="../g.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../h.jpg"><img class="group1" src="../h.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../i.jpg"><img class="group1" src="../i.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../j.jpg"><img class="group1" src="../j.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../k.jpg"><img class="group1" src="../k.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../l.jpg"><img class="group1" src="../l.jpg" title="Image Title" /></a>
                    </li>
                
                 <li class="span3">
                        <a class="thumbnail" rel="lightbox[group]" href="../m.jpg"><img class="group1" src="../m.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
            </ul><!--end thumbnails -->



           

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../jsg/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="../jsg/vendor/bootstrap.min.js"></script>

        <script src="../jsg/plugins.js"></script>
        <script src="../jsg/jquery.prettyPhoto.js"></script>
        <script src="../jsg/main.js"></script>

        <script>
            var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            }(document, 'script'));

            // Colorbox Call

            $(document).ready(function () {
                $("[rel^='lightbox']").prettyPhoto();
            });
        </script>
                  




